@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto');

/* Top-level div wrapping everything */
.AuthView {
    background-image: 
        /* Darken the image so text is more visible */
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        /* Photo from unsplash */ 
        url("https://images.unsplash.com/photo-1522165078649-823cf4dbaf46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9");
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}

.TitleContent {
    padding-top: 10%;
}

/* All h1 inside top-level div */
.AuthView h1 {
    margin-top: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 6rem;
}

/* Message for incorrect/failed login */
.AlertMessage{
    background-color: #d50000;
}

/* Top level div for forms */
.FormContainer{
    width: 30%;
    margin: 0 2.5% 0 2.5%;
    display: inline-block;
}

/* Materialize CSS label/input wrapper */
.input-field {
    background-color: #fff;
}

/* Remove bottom margin from username/password fields */
input[type=text]:not(.browser-default), input[type=password]:not(.browser-default) {
    margin-bottom: 0 !important;
}